// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$base-background-light: rgb(255, 255, 255);
$base-background-dark: rgb(44, 47, 49);

$material-light: (
  'background': $base-background-light,
  'navigation-drawer': rgb(255, 254, 254),
  'cards': $base-background-light,
  'app-bar': $base-background-light,
);
$material-dark: (
  'background': $base-background-dark,
  'navigation-drawer': rgb(44, 46, 48),
  'cards': $base-background-dark,
  'app-bar': $base-background-dark,
);
